---
import Layout from "../layouts/Layout.astro";
import Search from "../components/search.astro";
import Categories from "../components/categories.astro";
import { types } from "../data/types";

const id = Astro.params.id;
const info = types.find((b) => b.id === id) || null;

export function getStaticPaths() {
    return [
        ...types.map(({ id }) => {
            return { params: { id } };
        }),
    ];
}
---

<Layout title={`${info?.name}`}>
    {
        info ? (
            info.subtypes?.map(({ name }) => 
               <h1 class="text-4xl font-normal">{`${info?.name}`}</h1>
                <section class="mt-4">
                    <Search />
                </section>
                <main>
                    <Categories />
                </main> 
        )
        ) : (
            <p>No data available for this ID</p>
        )
    }
    
</Layout>
