---
import { type } from "../data/rascadores";
const id = Astro.params.id;
const info = type.filter((b) => b.id === id) || [];
---

<div class="flex flex-col gap-5">
    <div class="flex gap-10">
        {
            info?.map(({ SearchValues }) => {
                if (SearchValues === 123) {
                    return (
                        <input
                                                    id="search"
                            class="rounded-[10px] border-1 border-[#00000050] py-1 px-2 text-[10px] hover:bg-[#00000030] focus:bg-[#00000030] transition "
                            type="number"
                            placeholder="Exterior (mm)"
                            min="1"
                        />
                        <input
                                                    id="search"
                            class="rounded-[10px] border-1 border-[#00000050] py-1 px-2 text-[10px] hover:bg-[#00000030] focus:bg-[#00000030] transition "
                            type="number"
                            placeholder="Interior (mm)"
                            min="1"
                        />
                        <input
                                                id="search"
                            class="rounded-[10px] border-1 border-[#00000050] py-1 px-2 text-[10px] hover:bg-[#00000030] focus:bg-[#00000030] transition "
                            type="number"
                            placeholder="Altura (mm)"
                            min="0"
                        />
                    );
                } else if (SearchValues === 666) {
                    return (
                        <input
                            class="rounded-[10px] border-1 border-[#00000050] py-1 px-2 text-[10px] hover:bg-[#00000030] focus:bg-[#00000030] transition "
                            type="email"
                            placeholder="JAJAJAJA"
                        />
                    );
                } return null;
            })
        }
    </div>

    <script>
        document.querySelectorAll("button#search").forEach((button) => {
            button.addEventListener("click", () => {
                document.querySelectorAll("button#search").forEach((btn) => {
                    btn.classList.remove(
                        "bg-amber-500",
                        "text-white",
                        "border-[#00000000]",
                    );
                });
                button.classList.add(
                    "bg-amber-500",
                    "text-white",
                    "border-[#00000000]",
                );
            });
        });
    </script>
</div>
