---
import "./src/styles/global.css";
import Header from "../components/header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Argom Seals S.L.</title>
	</head>
	<body>
		<header>
			<Header />
		</header>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
